{% extends 'base.html' %}

{% block title %}
  Your Courses
{% endblock %}

{% block content %}

  {% if courses %}
      <div class="card">
          <div class="card-header">
              <strong class="card-title">List of Courses</strong>
          </div>
          <div class="table-stats order-table ov-h">
              <table class="table">
                  <thead>
                      <tr>
                        <th>ID</th>
                        <th>Course</th>
                        <th>Opciones</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for course in courses %}
                      <tr>
                        <td><a href="{% url 'school:students_list' pk=course.id %}">{{ course }}</a></td>
                
                        <td>
                          <a href="" class="btn btn-primary">Editar</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
              </table>
          </div>
      </div>
      {% else %}
        <h1>There is no classes</h1>
      {% endif %}

{% endblock %}