{% extends 'base.html' %}

{% block title %}
  Your Courses
{% endblock %}

{% block content %}

  {% if courses %}
      <div class="card">
          <div class="card-header">
              <strong class="card-title">List of Courses</strong>
          </div>
          <div class="table-stats order-table ov-h">
              <table class="table">
                  <thead>
                      <tr>
                        <th>Course</th>
                        <th>Note</th>
                        <th>Students</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for course, students in courses.items %}
                      <tr>
                        <td><a href="">{{ course.name }}</a></td>
                        <td>{{ students.0 }}</td>
                        <td>
                          {% for student in students.1 %}
                          <li>{{ student }}</li>
                          {% endfor %}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
      {% else %}
        <h1>There is no Courses</h1>
      {% endif %}

{% endblock %}