{% extends 'base.html' %}

{% block title %}
  Your Peers
{% endblock %}

{% block content %}

  {% if students %}
      <div class="card">
          <div class="card-header">
              <strong class="card-title">List of Students</strong>
          </div>
          <div class="table-stats order-table ov-h">
              <table class="table">
                  <thead>
                      <tr>
                        <th>ID</th>
                        <th>Student</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for student in students %}
                      <tr>
                        <td>{{ student.id }}</td>
                        <td>{{ student.student }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
      {% else %}
        <h1>There is no students in this class</h1>
      {% endif %}

{% endblock %}