{% extends 'base.html' %}

{% block title %}
  Your Courses
{% endblock %}

{% block content %}

  {% if courses %}
      <div class="card">
          <div class="card-header">
              <strong class="card-title">List of Courses</strong>
          </div>
          <div class="table-stats order-table ov-h">
              <table class="table">
                  <thead>
                      <tr>
                        <th>ID</th>
                        <th>Course</th>
                        <th>Note</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for course in courses %}
                      <tr>
                        <td><a href="{% url 'school:students_course' %}">{{ course.id }}</a></td>
                        <td><a href="{% url 'school:students_course' %}">{{ course.course }}</a></td>
                        <td>{{ course.note }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
      {% else %}
        <h1>No existen autores registrados</h1>
      {% endif %}

{% endblock %}